
<form 
      tuiMode="onDark"
      [formGroup]="searchFormGroup">
   
    <tui-input
        tuiTextfieldIconLeft="tuiIconSearch"
        tuiTextfieldAppearance="custom"
        tuiTextfieldSize="m"
        formControlName="search"
        >
            Поиск   
        <input tuiTextfield/>
    </tui-input>

     <svg
        tuiHint="Данный функционал пока не реализован"
        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
        <g clip-path="url(#clip0_2378_4372)">
          <path d="M3.99902 21V14" stroke="#EBE9F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M3.99902 10V3" stroke="#EBE9F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M11.999 21V12" stroke="#EBE9F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M11.999 8V3" stroke="#EBE9F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19.999 21V16" stroke="#EBE9F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M19.999 12V3" stroke="#EBE9F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M0.999023 14H6.99902" stroke="#EBE9F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M8.99902 8H14.999" stroke="#EBE9F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M16.999 16H22.999" stroke="#EBE9F3" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </g>
        <defs>
          <clipPath id="clip0_2378_4372">
            <rect width="24" height="24" fill="white" transform="translate(-0.000976562)"/>
          </clipPath>
        </defs>
      </svg>

    
</form>