$itcc-main-dark: #434343;
$itcc-main-green: #538A4D;
$itcc-main-purple: #451774;
$itcc-main-white: rgb(238, 237, 237);
$itcc-main-background: #201D24;
$itcc-violet-400: #9D72ED;
$itcc-black-400: #9995A1;
$itcc-violet-100: #EBE9F3;
$itcc-bg-800: #28252E;
$itcc-orange-500: #EF953F;
